<h2>Strategies and Options for Community</h2>

<br/><br/>
<h3>The Things You've Tried</h3><br/>

<div class="col-md-3">
<div class="panel panel-success height330">
	<div class="panel-heading">
		<h3 class="panel-title">Neighborhood and community outings</h3>
	</div>
	<div class="panel-body">
		<ol><li>Bringing things from home that he can drink  and use to stay entertained and calm. </li></ol>
	</div>
</div>
</div>
<div class="col-md-3">
<div class="panel panel-success height330">
	<div class="panel-heading">
		<h3 class="panel-title">Classes and groups</h3>
	</div>
	<div class="panel-body">
	<ol><li>  I wish that I knew of something. </li></ol>

	</div>
</div>
</div>
<div class="col-md-3">
<div class="panel panel-success height330">
	<div class="panel-heading">
		<h3 class="panel-title">Community-sponsored activities</h3>
	</div>
	<div class="panel-body">
		<ol><li>  I haven’t worked this one out. </li></ol>

	</div>
</div>
</div>
<div class="col-md-3">
<div class="panel panel-success height330">
	<div class="panel-heading">
		<h3 class="panel-title">Recreational activities and trips</h3>
	</div>
	<div class="panel-body">
	<ol><li>He needs better safety awareness. I don’t  know how to make that happen. 
￼</li></ol>
	</div>

</div>
</div>
<h3>Some Things to Consider</h3><br/>

<div class="row">
	<div class="col-md-12">
	<p>Here are some things in the environment that I think help my child participate in community activities:</p>
	<ul>
	  <li>Outside weather conditions </li>
	  <li>The safety of the community</li><li> Access to personal transportation Equipment or supplies</li><li> Time</li><li> Money </li></ul> ￼ ￼￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ 
	<p>Here are things in the environment that I think make it harder for my child to participate in community activities:</p>

	<ul>
	  <li>Sensory qualities</li>
	  <li> The social demands of activities</li>
	  <li> Child’s relationships with peers</li>
	  <li> Access to public transportation</li> ￼
	</ul> ￼ ￼ ￼ ￼ ￼
	</div>
</div>
