<h2>What You You Want to Change About Your Community</h4>

<h4>Community</h4>
<p>Change Desired:</p>
1= no change desired<br/> 2= do more often<br/> 3= do less often<br/> 4= be more helpful<br/> 5= be more interactive<br/> 6= a broader variety.</p>

<div class="col-md-4">
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Neighborhood and community outings</h3>
	</div>
	<div class="panel-body">
	<h5>Activities</h5>
	<ul>
		<li>Shopping and errands (4,5,6)</li>
		<li>Dining out (5,6)</li>
		<li>Routine appointments (None)</li>
        </ul>
	</div>
	<div class="panel-footer">
	 <h5>Strategy:</h5>
	 Bringing things from home that he can drink and use to stay entertained and calm.
	</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Classes and groups</h3>
	</div>
	<div class="panel-body">
	<h5>Activities</h5>
	<ul><li>Classes and lessons (No)	￼</li>
	<li>Organized physical activities (1,2)￼</li>
	<li>Organizations, groups, clubs￼(No)</li>
	</ul>
	</div>
	<div class="panel-footer">
	 <h5>Strategy:</h5>
I wish that I knew of something.	</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Community-sponsored activities</h3>
	</div>
	<div class="panel-body">
	<h5>Activities</h5>
	<ul>
	<li>Community attractions￼ (4,5)</li>
	<li>Religious or spiritual gatherings and activities￼(6)</li>
	<li>Social gatherings￼(4,5)</li>
	<li>Community events (1)￼</li>
	</ul>
	</div>
	<div class="panel-footer">
	 <h5>Strategy:</h5>
	 I haven’t worked this one out.
</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Recreational activities and trips</h3>
	</div>
	<div class="panel-body">
	<h5>Activities</h5>
	<ul>
		<li>Unstructured physical activities (4,5)</li>
		<li>He needs better safety awareness. I don’t know how to make that happen.(2)</li>
		<li>Overnight visits or trips (5)</li>
	</ul>
	</div>
	<div class="panel-footer">
	 <h5>Strategy:</h5>
	He needs better safety awareness. I don’t know how to make that happen.
	</div>
</div></div>
</div>
