<h2>What You Want to Change About Community</h4>
<br/><br/>

<div class="col-md-4">
<div class="panel panel-primary height300">
	<div class="panel-heading">
		<h3 class="panel-title">Neighborhood and community outings</h3>
	</div>
	<div class="panel-body">
	<ul>
		<li>Shopping and errands <ul><li>do more often</li><li>be more helpful</li></ul></li>
		<li>Dining out <ul><li>do a broader variety</li></ul></li>
        </ul>
	</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-primary height300">
	<div class="panel-heading">
		<h3 class="panel-title">Classes and groups</h3>
	</div>
	<div class="panel-body">
	<ul>
		<li>Classes and lessons  
			<ul>
				<li>do more often</li>
				<li>be more helpful</li>
			</ul>
		</li>
		<li>Organized physical activities 
			<ul>
				<li>do a broader variety</li>
			</ul>￼
		</li>
	</ul>
	</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-primary height300">
	<div class="panel-heading">
		<h3 class="panel-title">Community-sponsored activities</h3>
	</div>
	<div class="panel-body">
	<ul>
	<li>Community attractions￼ <ul><li>be more helpful</li></ul></li>
	<li>Religious or spiritual gatherings<ul><li>do less often</li></ul></li>
	<li>Social gatherings￼<ul><li>do more often</li><li>be more helpful</li></ul></li>
	</ul>
	</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-primary height300">
	<div class="panel-heading">
		<h3 class="panel-title">Recreational activities and trips</h3>
	</div>
	<div class="panel-body">
	<ul>
		<li>Unstructured physical activities <ul><li>do more often</li><li>be more helpful</li></ul></li>

	</ul>
	</div>

</div>
</div>
