<h2>What You You Want to Change About Your Community</h4>


<div class="col-md-4">
<div class="panel panel-default height300">
	<div class="panel-heading">
		<h3 class="panel-title">Neighborhood and community outings</h3>
	</div>
	<div class="panel-body">
	<h5>Activities</h5>
	<ul>
		<li>Shopping and errands <ul><li>do more often</li><li>be more helpful</li></ul></li>
		<li>Dining out <ul><li>do a broader variety</li></ul></li>
        </ul>
	</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-default height300">
	<div class="panel-heading">
		<h3 class="panel-title">Classes and groups</h3>
	</div>
	<div class="panel-body">
	<h5>Activities</h5>
	<ul><li>Classes and lessons  <ul><li>do more often</li><li>be more helpful</li></ul>	￼</li>
	<li>Organized physical activities <ul><li>do a broader variety</li></ul>￼</li>
	</ul>
	</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-default height300">
	<div class="panel-heading">
		<h3 class="panel-title">Community-sponsored activities</h3>
	</div>
	<div class="panel-body">
	<h5>Activities</h5>
	<ul>
	<li>Community attractions￼ <ul><li>be more helpful</li></ul></li>
	<li>Religious or spiritual gatherings and activities￼<ul><li>do less often</li></ul></li>
	<li>Social gatherings￼<ul><li>do more often</li><li>be more helpful</li></ul></li>
	</ul>
	</div>
</div>
</div>
<div class="col-md-4">
<div class="panel panel-default height300">
	<div class="panel-heading">
		<h3 class="panel-title">Recreational activities and trips</h3>
	</div>
	<div class="panel-body">
	<h5>Activities</h5>
	<ul>
		<li>Unstructured physical activities <ul><li>do more often</li><li>be more helpful</li></ul></li>
		<li>He needs better safety awareness. I don’t know how to make that happen.<ul><li>do less often</li></ul></li>
	</ul>
	</div>

</div></div>
