<h2>Strategies to Participate in the Community</h4>

<div class="row">
<div class="col-md-12">
<h4>Environment</h4>
<p>Here are some things in the environment that I think help my child participate in activities in the community:</p>

<ul>
  <li>Outside weather conditions </li>
  <li>The safety of the community</li><li> Access to personal transportation Equipment or supplies</li><li> Time</li><li> Money </li></ul> ￼ ￼￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ 
<p>Here are things in the environment that I think make it harder for my child to participate in activities:</p>

<ul>
  <li>Sensory qualities</li>
  <li> The social demands of activities</li>
  <li> Child’s relationships with peers</li>
  <li> Access to public transportation</li> ￼
</ul> ￼ ￼ ￼ ￼ ￼
</div></div></div></div>