<h2>Strategies and Options for Daycare/Preschool</h2>

<br/><br/>
<h3>The Things You've Tried</h3><br/>

<div class="row">
<div class="col-md-3">
<div class="panel panel-success height300">
	<div class="panel-heading">
		<h3 class="panel-title">Educational Programming</h3>
	</div>
	<div class="panel-body">
	<ul>
		<li>Group learning <ul><li>do more often</li><li>be more helpful</li></ul></li>
		<li>Field trip and events <ul><li>be more helpful</li></ul></li>
        </ul>
	</div>
</div>
</div>
</div><br/>

<h3>Some Things to Consider</h3>￼ ￼
<div class="row">
<div class="col-md-12">
<p>Here are some things in the environment that I think help my child participate in daycore or preschool activities:</p>
<ul><li>Outside weather conditions </li>
   <li>The safety of the community</li>
   <li> Access to personal transportation Equipment or supplies Time Money </li>
</ul>
￼￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼
<p>Here are things in the environment that I think make it harder for my child to participate in daycare or preschool activities:</p>
<ul>
   <li>Sensory qualities</li>
   <li> The social demands of activities</li>
   <li> Child’s relationships with peers</li>
   <li> Access to public transportation</li>
   ￼
</ul>
</div>
￼ ￼ ￼ ￼ ￼