<h2>Daycare/Preschool Profile</h2>
<div class="row">
<div class="col-md-6"><h4><b>The first diagram shows how often your child participates in daycare/preschool activities.</b></h4><p>
1 = never<br/> 2 = once in the last 4 months<br/> 3 = few times in the last 4 months<br/> 4 = once in the last month<br/> 5 = few times in the last month<br/> 6 = once each week<br/> 7 = few times each week<br/> 8 = once or more each day</p></div>
<div class="col-md-6"><h4><b>The second diagram shows how involved your child during daycare/preschool activities.</b></h4><p>
1 = not very involved<br/> 3 = somewhat involved<br/> 5 = very involved</p></div>
</div>

<div class="row">
<div class="col-md-6" id="container"></div>
<div class="col-md-6" id="container2"></div>
</div>

<script>$(function () {

    $('#container').highcharts({
 credits: {
      enabled: false
  },
        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: '',
            x: -80
        },

        pane: {
            size: '55%'
        },

        xAxis: {
            categories: ['Group learning','Field trips/ events','Socializing with friends'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        series: [{
            name: 'Then',
            type:'area',
            data: [1,5,1],
            pointPlacement: 'on',
            color:'#424254'

        },{
            name: 'Now',
            type:'area',
            data: [6,3,4],
            pointPlacement: 'on',
            color:'#CC2A41'
        }]

    });
});
</script>

<script>$(function () {

    $('#container2').highcharts({
 credits: {
      enabled: false
  },
        chart: {
            polar: true,
            type: 'line'
        },

        title: {
            text: '',
            x: -80
        },

        pane: {
            size: '55%'
        },

        xAxis: {
            categories: ['Group learning','Field trips/ events','Socializing with friends'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0,            
            max: 5
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        series: [{
            name: 'Then',
            type:'area',
            data: [1,5,1],
            pointPlacement: 'on',
            color:'#424254'
        }, {
            name: 'Now',
            type:'area',
            data: [3,5,3],
            pointPlacement: 'on',
            color:'#CC2A41'
        }]

    });
});
</script>