<h2>
What You You Want to Change About Your Child's Participation in Daycare Activities</h4>
<h3>Here are some areas in which I want my child’s participation to change and what I have done to help my child participate in those daycare activities.</h3>


<div class="row">
<div class="col-md-12">
<h4>Environment</h4>
<p>Here are some things in the environment that I think help my child participate in activities:</p>
<ul><li>Outside weather conditions </li>
   <li>The safety of the community</li>
   <li> Access to personal transportation Equipment or supplies Time Money </li>
</ul>
￼￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼
<p>Here are things in the environment that I think make it harder for my child to participate in activities:</p>
<ul>
   <li>Sensory qualities</li>
   <li> The social demands of activities</li>
   <li> Child’s relationships with peers</li>
   <li> Access to public transportation</li>
   ￼
</ul>
</div>
￼ ￼ ￼ ￼ ￼