<h2>Daycare/Preschool Profile</h2>
<div class="row">
<div class="col-md-6"><h4><b>The first diagram shows how often your child participates in daycare/preschool activities.</b></h4><p>
1 = never<br/> 2 = once in the last 4 months<br/> 3 = few times in the last 4 months<br/> 4 = once in the last month<br/> 5 = few times in the last month<br/> 6 = once each week<br/> 7 = few times each week<br/> 8 = once or more each day</p></div>
<div class="col-md-6"><h4><b>The second diagram shows how involved your child during daycare/preschool activities.</b></h4><p>
1 = not very involved<br/> 3 = somewhat involved<br/> 5 = very involved</p></div>
</div>

<div class="row">
<div class="col-md-6" id="container"></div>
<div class="col-md-6" id="container2"></div>
</div>

<script>$(function () {

    $('#container').highcharts({

        chart: {
            type: 'bar'
        }, credits: {
      enabled: false
  },

        title: {
            text: '',
            x: -80
        },

        pane: {
            size: '55%'
        },

        xAxis: {
            categories: ['Group learning','Field trips/ events','Socializing with friends','Field trips/ events'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            allowDecimals: false,
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0,
            max:8
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: 'Now',
            data: [8,3,4],
            color:'#1e497c'

        }, {
            name: 'Then',
            data: [8,2,1],
            color:'#990000'
        }]

    });
});
</script>

<script>$(function () {

    $('#container2').highcharts({

        chart: {
            type: 'bar'
        },
         credits: {
              enabled: false
          },
        title: {
            text: '',
            x: -80
        },

        pane: {
            size: '55%'
        },

        xAxis: {
            categories: ['Group learning','Socializing with friends','Field trips/ events'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },

        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 1,
            max:5
        },

        tooltip: {
            shared: true,
            pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
        },

        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 70,
            layout: 'vertical'
        },

        series: [{
            name: 'Now',
            data: [1,5,3],
            color:'#1e498c'
        }, {
            name: 'Then',
            data: [1,3,3],
            color:'#990000'
        }]

    });
});
</script>