<h4>Environment
</h4>
<p>Here are some things in the environment that I think help my child participate in activities:
</p>
<h5>Home
</h5>
<ul>
  <li>The physical layout
  </li>
  <li> Sensory qualities of home
  </li>
  <li> The attitudes and actions of others
  </li>
  <li> Supplies
  </li>
  <li> Time
  </li>
  <li> Information
  </li>
</ul>
<h5>Daycare/Preschool
</h5>
<ul>
  <li>The physical layout 
  </li>
  <li> Sensory qualities
  </li>
  <li> Child’s relationship with peers
  </li>
  <li> School-related policies and procedures
  </li>
  <li> Access to personal transportation
  </li>
  <li> Time
  </li>
</ul>
<h5>Community
</h5>
<ul>
  <li>Outside weather conditions 
  </li>The safety of the community Access to personal transportation Equipment or supplies Time Money 
</ul> ￼ ￼￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼ ￼
<p>Here are things in the environment that I think make it harder for my child to participate in activities:
</p>
<h5>Home
</h5>
<ul>
  <li>The cognitive demands of activities
  </li>
  <li> The social demands of activities
  </li>
  <li> The cognitive demands of activities
  </li>
</ul>
<h5>Daycare/Preschool
</h5>
<ul>
  <li>The physical demands of activities
  </li>
  <li> The cognitive demands of activities
  </li>
  <li> The social demands of activities
  </li>
  <li> Supplies
  </li>
</ul>
<h5>Community
</h5>
<ul>
  <li>Sensory qualities
  </li>
  <li> The social demands of activities
  </li>
  <li> Child’s relationships with peers
  </li>
  <li> Access to public transportation
  </li> ￼
</ul> ￼ ￼ ￼ ￼ ￼
