<h2>Strategies and Options for Home</h2>
<br/>

<h3>The Things You've Tried</h3><br/>
<div class="col-md-3 strategy">
  <div class="panel panel-success height330">
    <div class="panel-heading">
      <h3 class="panel-title">Basic care routines
      </h3>
    </div>
    <div class="panel-body">
    <ol>
    <li>
      ASL: supporting spoken language with  signs helps his comprehension a great deal.  </li>
      <li>Routine: Pete does best when he knows  what to expect, e.g., we almost always eat  at the same times, in the same place,  together.
      </li>
      </ol>
    </div>
  </div>
</div>
<div class="col-md-3 strategy ">
  <div class="panel panel-success height330">
    <div class="panel-heading">
      <h3 class="panel-title">Household chores
      </h3>
    </div>
    <div class="panel-body">
      <ol>
      <li>Pete loves to cook—but he needs a lot of  supervision and support. But then again,  he’s four. So working very closely with him  helps.</li><li>If you want Pete to be helpful, you need  to keep reminding him of what we’re doing,  usually by singing a song about cleaning [or  what have you]. </li></ol>
    </div>
  </div>
</div>
<div class="col-md-3 strategy">
  <div class="panel panel-success height330">
    <div class="panel-heading">
      <h3 class="panel-title">Interactive and organized play￼
      </h3>
    </div>
    <div class="panel-body">
      <ol><li>Right now, using visual cues and PECS.</li></ol>
    </div>
  </div>
</div>
<div class="col-md-3 strategy">
  <div class="panel panel-success height330">
    <div class="panel-heading">
      <h3 class="panel-title">Socializing with friends and family
      </h3>
    </div>
    <div class="panel-body">
    <ol><li>I try to make sure that I have ways to let  Pete be distracted—a weighted vest, stim  toys.</li><li>Strategic withdrawal: trying to let Pete get  away from people with me when he gets overwhelmed. </li></ol>
    </div>
  </div>
</div>
<br/>
  <div class="col-md-12"><h3>Some Things to Consider</h3><Br/>

    <p>Here are some things in the environment that I think help my child participate in activities at home:
    </p>
    <ol>
      <li>The physical layout
      </li>
      <li> Sensory qualities of home
      </li>
      <li> The attitudes and actions of others
      </li>
      <li> Supplies
      </li>
      <li> Time
      </li>
      <li> Information
      </li>
    </ol>
    <p>Here are things in the environment that I think make it harder for my child to participate in activities at home:
    </p>
    <ol>
      <li>The cognitive demands of activities
      </li>
      <li> The social demands of activities
      </li>
      <li> The cognitive demands of activities
      </li>
    </ol>
  </div>
