<h2>What You Want to Change About Home</h2>
<br/><br/>
<div class="col-md-4 strategy">
  <div class="panel panel-primary height300">
    <div class="panel-heading">
      <h3 class="panel-title">Basic care routines
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Getting rest <ul><li>be more helpful</li><li>be more interactive</li><li>do a broader variety</li>
</ul>
        </li>
        <li>Personal care management <ul><li>be more helpful</li></ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-4 strategy ">
  <div class="panel panel-primary height300">
    <div class="panel-heading">
      <h3 class="panel-title">Household chores
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Cleaning up <ul><li>be more helpful</li><li>be more interactive</li><li>do a broader variety</li>
</ul>
        </li>
        <li>Meal preparation <ul><li>be more helpful</li></ul>
        </li>
        <li>Laundry and dishes <ul><li>do a broader variety</li></ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-4 strategy">
  <div class="panel panel-primary height300">
    <div class="panel-heading">
      <h3 class="panel-title">Interactive and organized play￼
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Arts, crafts, stories, music <ul><li>be more helpful</li><li>be more interactive</li><li>do a broader variety</li>
</ul>
        </li>
        <li>Screen time <ul><li>be more helpful</li></ul>
        </li>
        <li>Laundry and dishes
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-4 strategy height350">
  <div class="panel panel-primary height300">
    <div class="panel-heading">
      <h3 class="panel-title">Socializing with friends and family
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>House guests <ul><li>be more helpful</li><li>be more interactive</li><li>do a broader variety</li></ul>
        </li>
      </ul>
    </div>
  </div>
</div>