<h2>What You Want to Change About Home
  </h2>
<p>Change Desired:<br/> 1= no change desired<br/> 2= do more often<br/> 3= do less often<br/> 4= be more helpful<br/> 5= be more interactive<br/> 6= a broader variety.
</p>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basic care routines
      </h3>
    </div>
    <div class="panel-body">
      <h5>Activities
      </h5>
      <ul>
        <li>Getting rest (4,5,6)
        </li>
        <li>Personal care management (5,6)
        </li>
        <li>Getting clean (None)
        </li>
        <li>Mealtime (1)
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      <h5>Strategy:
      </h5>
      <ol>
        <li>ASL: supporting spoken language with signs helps his comprehension a great deal.
        </li>
        <li> Routine: Pete does best when he knows what to expect, e.g., we almost always eat at the same times, in the same place, together.
        </li>
      </ol>	
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Household Chores
      </h3>
    </div>
    <div class="panel-body">
      <h5>Activities
      </h5>
      <ul>
        <li>Cleaning up (4,5,6)
        </li>
        <li>Meal preparation (5,6)
        </li>
        <li>Taking care of other family members (None)
        </li>
        <li>Laundry and dishes (1)
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      <h5>Strategy:
      </h5>
      <ol>
        <li>Pete loves to cook—but he needs a lot of supervision and support. But then again, he’s four. So working very closely with him helps.
        </li>
        <li>If you want Pete to be helpful, you need to keep reminding him of what we’re doing, usually by singing a song about cleaning [or what have you].
        </li>
      </ol>	
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Interactive and organized play￼
      </h3>
    </div>
    <div class="panel-body">
      <h5>Activities
      </h5>
      <ul>
        <li>Arts, crafts, stories, music (4,5,6)
        </li>
        <li>Screen time (5,6)
        </li>
        <li>Indoor play and games (None)
        </li>
        <li>Laundry and dishes (1)
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      <h5>Strategy:
      </h5>
      <ol>
        <li>Right now, using visual cues and PECS.
        </li>
      </ol>	
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Socializing with friends and family
      </h3>
    </div>
    <div class="panel-body">
      <h5>Activities
      </h5>
      <ul>
        <li>Celebrations at home (4,5,6)
        </li>
        <li>House guests (5,6)
        </li>
      </ul>
    </div>
    <div class="panel-footer">
      <h5>Strategy:
      </h5>
      <ol>
        <li> I try to make sure that I have ways to let Pete be distracted—a weighted vest, stim toys.
        </li>
        <li>Strategic withdrawal: trying to let Pete get away from people with me when he gets overwhelmed.
        </li>
      </ol>	
    </div>
  </div>
</div>