<h2>What You Want to Change About Home
  </h2>
<p>Change Desired:<br/> 1= no change desired<br/> 2= do more often<br/> 3= do less often<br/> 4= be more helpful<br/> 5= be more interactive<br/> 6= a broader variety.
</p>

<div class="row">
  <div class="col-md-12">
    <h4>Environment
    </h4>
    <p>Here are some things in the environment that I think help my child participate in activities at home:
    </p>
    <ul>
      <li>The physical layout
      </li>
      <li> Sensory qualities of home
      </li>
      <li> The attitudes and actions of others
      </li>
      <li> Supplies
      </li>
      <li> Time
      </li>
      <li> Information
      </li>
    </ul>
    <p>Here are things in the environment that I think make it harder for my child to participate in activities at home:
    </p>
    <ul>
      <li>The cognitive demands of activities
      </li>
      <li> The social demands of activities
      </li>
      <li> The cognitive demands of activities
      </li>
    </ul>
  </div>
</div>
