
<h2>Checkout PEM+</h2>

<div class="well">
<p>At this point, you have completed your PEM assessment and have reviewed your PEM report. PEM+ will add onto this by helping you build an action plan based on your survey responses.</p><p> When you took the survey, you answered questions about how your child participates in activities at home, school and in the community, and you noted some things that you would like to see change.</p>
</div>

<button class="btn btn-warning" ng-click="checkout.show_diagnostic = true;">Enable Diagnostic Info</button><br/>
	
	<div class="btn-group">
	<button class="btn btn-default" ng-click="checkout.step = 1">Step 1</button>
	<button class="btn btn-default" ng-click="checkout.step = 2">Step 2</button>
	<button class="btn btn-default" ng-click="checkout.step = 3">Step 3</button>
	<button class="btn btn-default" ng-click="checkout.step = 4">Step 4</button>
	<button class="btn btn-default" ng-click="checkout.step = 5">Step 5</button>
	</div>

<div ng-show="checkout.step">
	<h2>Step #{{checkout.step}}</h2>
	<div ng-include="'partials/part_3/' + checkout.step + '.html'"></div>
</div>

