<h2>Your PEM Participation Profile</h2>

<div class="bs-callout bs-callout-info">
<p>The foundation for lifelong health is built during the first 5 years of your child’s life. When young children participate in activities, they can feel healthy, learn new skills, and have fun.</p>
<p> Young children participate with important people in their life like you, their parent or primary caregiver.</p>
<h5>Each item below has your answers to the questions that we asked you, so that you can see:</h4>

<ol>
<li>How your child participates in activities (last year and this year)</li>
<li>How you want your child’s participation to change</li>
<li>What you already do to help your child participate</li>
<li>Things in the environment that help or make it harder for your child to participate.</li>
</ol>
</div>
<div class="well">
<div class="row">
<div class="col-md-4"><h4>Home Participation</h4></div>
<div class="col-md-2"><a href="#/tools/home_spider">Spider</a></div>
<div class="col-md-2"><a href="#/tools/home_bar">Bar Graphs</a></div>
<div class="col-md-4"><a href="#/tools/home_change">What You Want to Change</a></div>
</div><br/>
<div class="row">
<div class="col-md-4"><h4>Daycare/Preschool Participation</h4></div>
<div class="col-md-2"><a href="#/tools/daycare_spider">Spider</a></div>
<div class="col-md-2"><a href="#/tools/daycare_bar">Bar Graphs</a></div>
<div class="col-md-4"><a href="#/tools/daycare_change">What You Want to Change</a></div>

</div><br/>
<div class="row">
<div class="col-md-4"><h4>Community Participation</h4></div>
<div class="col-md-2"><a href="#/tools/community_spider">Spider</a></div>
<div class="col-md-2"><a href="#/tools/community_bar">Bar Graphs</a></div>
<div class="col-md-4"><a href="#/tools/community_change">What You Want to Change</a></div>

</div><br/>
<div class="row">
<div class="col-md-4"><h4>Environment</h4>
</div>
<div class="col-md-3 col-md-offset-4"><a href="#/tools/environment_change">What You Want to Change</a></div>
</div>
</div>
