<h2>Your PEM Profile</h2>

<div class="bs-callout bs-callout-info">
<p>When your child participates in activities, they can feel healthy, learn new skills, and have fun. Young children participate with important people in their life like you, their parent or caregiver.</p>

<p>We first asked you to think about your child’s participation in activities. Use the links below to see a summary of your answers.</p><h5> In each section of the report, you can see:</h5>

<ol>
<li>How often and how much your child participates in activities. If you took the PEM questionnaire more than one time, you will see all of your answers.</li>
<li>What you want to change about your child’s participation</li> 
<li>What you already do to help your child participate</li>
<li>Things in the environment that help or make it harder for your child to participate</li>
</ol>
</div>
<div class="well">
<div class="row">
<div class="col-md-4"><h4>Home</h4></div>
<div class="col-md-2"><a href="#/tools/home_spider">Spider Plot</a></div>
<div class="col-md-2"><a href="#/tools/home_bar">Bar Graphs</a></div>
<div class="col-md-2"><a href="#/tools/home_change">Priorities For Change</a></div>
<div class="col-md-2"><a href="#/tools/home_strategies">Strategies and Options</a></div>
</div><br/>
<div class="row">
<div class="col-md-4"><h4>Daycare/Preschool</h4></div>
<div class="col-md-2"><a href="#/tools/daycare_spider">Spider Plot</a></div>
<div class="col-md-2"><a href="#/tools/daycare_bar">Bar Graphs</a></div>
<div class="col-md-2"><a href="#/tools/daycare_change">Priorities For Change</a></div>
<div class="col-md-2"><a href="#/tools/daycare_strategies">Strategies and Options</a></div>

</div><br/>
<div class="row">
<div class="col-md-4"><h4>Community</h4></div>
<div class="col-md-2"><a href="#/tools/community_spider">Spider Plot</a></div>
<div class="col-md-2"><a href="#/tools/community_bar">Bar Graphs</a></div>
<div class="col-md-2"><a href="#/tools/community_change">Priorities For Change</a></div>
<div class="col-md-2"><a href="#/tools/community_strategies">Strategies and Options</a></div>
</div><br/>

</div>
