<h2>Welcome back to PEM, Mary!</h2>
<div class="well">
Thanks for participating, please select an option below!
</div>

<div class="bs-callout bs-callout-primary"> 
<a href="https://www.redcap.ihrp.uic.edu/surveys/?s=PAXFW4MD4N">
	<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2">
		<i class="fa fa-{{task.icon}} fa-2x"></i>
		</div>
		<div class="col-md-7 col-sm-7 col-xs-7">
		#1 Complete Your <b>PEM</b>!
		<br/><label class="label label-success" ng-show="task.completed"><i class="fa fa-check-circle"></i> completed</label>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-1 text-right">
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
	</div>
</a>
</div>
<div class="bs-callout bs-callout-primary"> 
<a ng-href="#/history">
	<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2">
		<i class="fa fa-{{task.icon}} fa-2x"></i>
		</div>
		<div class="col-md-7 col-sm-7 col-xs-7">
		#2 Get your <b>PEM</b> Report!
		
		</div>
		<div class="col-md-1 col-sm-1 col-xs-1 text-right">
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
	</div>
</a>
</div>
<div class="bs-callout bs-callout-primary"> 
<a ng-href="#/checkout">
	<div class="row">
		<div class="col-md-2 col-sm-2 col-xs-2">
		<i class="fa fa-{{task.icon}} fa-2x"></i>
		</div>
		<div class="col-md-7 col-sm-7 col-xs-7">
		#3 Build on your report with <b>PEM Plus (PEM+)</b>!
		<br/><label class="label label-success" ng-show="task.completed"><i class="fa fa-check-circle"></i> not yet available </label>
		</div>
		<div class="col-md-1 col-sm-1 col-xs-1 text-right">
		<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</div>
	</div>
</div>