
	<div class="well">
		<label class="label label-warning">
		Check to see if there is a specific activity
		</label><Br/>
		<button class="btn btn-default">Continue</button>
	</div>
	<div class="well">
		<label class="label label-warning">Check if desired change from YC-PEM for activity exists</label><br/>
		<button class="btn btn-default">Continue</button>
	</div>
	<div class="well">
		<label class="label label-warning">Have parent enter desired change data</label><br/>
		<button class="btn btn-default">Continue</button>
	</div>
	<div class="well">
		<label class="label label-warning">Have parent confirm frequency value indicated on YC-PEM</label><br/>
		<select class="form-control"><option>Choose a setting</option></select><br/>
		<button class="btn btn-default">Continue</button>
	</div>
	<div class="well">
		<label class="label label-warning">Check to see if frequency is NEVER</label><br/>
		<button class="btn btn-default">Continue</button>
	</div>
	<div class="well">
		<i class="label label-warning">Have parent confirm INVOLVEMENT value indicated on YC-PEM</i><Br/>
		<button class="btn btn-default">Continue</button>
	</div>
	<div class="well">
		<i class="label label-warning">Show what I want table:</i><Br/>
		<ul>
			<li>Frequency</li>
			<li>Involvement</li>
			<li>Broader variety</li>
		</ul>
		<button class="btn btn-default">Continue</button><br/>
	</div>
	<div class="well">	
		<i class="label label-warning">Have parent write a short term goal for frequency, involvement, broader variety.</i><Br/>
		<textarea class="form-control" placeholder="please write a short term goal"></textarea>
		<button class="btn btn-default">Continue</button>
	</div>
	<div class="well">	
		<label>Summary</label><br/>
		<button class="btn btn-default">Continue</button>
	</div>
	<div class="well">	
		<label class="label label-warning">STOP</label>
	</div>
	<div class="well">	
		<label class="label label-warning">Step 3</label>
	</div>